<section class="custumer" id="custumer">
  <div class="container">
    <h2 class="custumer__title">What our Customers Say</h2>
    <p class="custumer__about">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <!-- Swiper customers -->
    <div class="swiper-customers">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <ul class="custumer__list">
            <li class="custumer__link custumer__link--up">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-1@1x.png 1x,
                      ./images/customers/customer-1@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-1@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Sumith Shah</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
            <li class="custumer__link custumer__link--down">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-2@1x.png 1x,
                      ./images/customers/customer-2@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-2@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Sumith Shah</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="custumer__list">
            <li class="custumer__link custumer__link--up">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-3@1x.png 1x,
                      ./images/customers/customer-3@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-3@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Viktoria Domashchuk</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
            <li class="custumer__link custumer__link--down">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-4@1x.png 1x,
                      ./images/customers/customer-4@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-4@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Maxym Huklivsky</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="custumer__list">
            <li class="custumer__link custumer__link--up">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-5@1x.png 1x,
                      ./images/customers/customer-5@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-5@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Vladislav Perebziak</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
            <li class="custumer__link custumer__link--down">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-6@1x.png 1x,
                      ./images/customers/customer-6@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-6@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Serhiy Belyavskii</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="custumer__list">
            <li class="custumer__link custumer__link--up">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-7@1x.png 1x,
                      ./images/customers/customer-7@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-7@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Daria Vdovichenko</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
            <li class="custumer__link custumer__link--down">
              <svg class="stars-icon" width="100" height="16">
                <use href="./images/icons.svg#stars"></use>
              </svg>
              <p class="custumer__feedback">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
              <div class="custumer__names">
                <picture>
                  <source
                    srcset="
                      ./images/customers/customer-8@1x.png 1x,
                      ./images/customers/customer-8@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="custumer__photo"
                    src="./images/customers/customer-8@1x.png"
                    alt="custumer photo"
                  />
                </picture>

                <div class="custumer__text-box">
                  <p class="custumer__name">Haber Viacheslav</p>
                  <p class="custumer__nick">Some Dude</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-pagination .swiper-pagination-bullet-active"></div>
    </div>
  </div>
</section>
