<section class="section favorites" id="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__card">
            <picture class="favorites__img">
              <!--Desktop-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-1@1x_lg.png 1x,
                  ./images/favorites/img-1@2x_lg.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-1@1x_lg.webp 1x,
                  ./images/favorites/img-1@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <!--Tablet-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-1@1x_md.png 1x,
                  ./images/favorites/img-1@2x_md.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-1@1x_md.webp 1x,
                  ./images/favorites/img-1@2x_md.webp 2x
                "
                type="image/webp"
              />

              <!--Mobile-->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/img-1@1x_sm.png 1x,
                  ./images/favorites/img-1@2x_sm.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/img-1@1x_sm.webp 1x,
                  ./images/favorites/img-1@2x_sm.webp 2x
                "
                type="image/webp"
              />

              <!--fallback-->
              <img src="./images/favorites/img-1@1x_lg.png" alt="gamburger" />
            </picture>

            <!--overlay-->
            <div class="favorites__card--overlay">
              <ul class="favorites__card-list">
                <li><p class="favorites__name">Gamburger</p></li>
                <li><p class="favorites__price">Price:10$</p></li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__card">
            <picture class="favorites__img">
              <!--Desktop-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-2@1x_lg.png 1x,
                  ./images/favorites/img-2@2x_lg.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-2@1x_lg.webp 1x,
                  ./images/favorites/img-2@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <!--Tablet-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-2@1x_md.png 1x,
                  ./images/favorites/img-2@2x_md.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-2@1x_md.webp 1x,
                  ./images/favorites/img-2@2x_md.webp 2x
                "
                type="image/webp"
              />

              <!--Mobile-->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/img-2@1x_sm.png 1x,
                  ./images/favorites/img-2@2x_sm.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/img-2@1x_sm.webp 1x,
                  ./images/favorites/img-2@2x_sm.webp 2x
                "
                type="image/webp"
              />

              <!--fallback-->
              <img src="./images/favorites/img-2@1x_lg.png" alt="pasta" />
            </picture>

            <!--overlay-->
            <div class="favorites__card--overlay">
              <ul class="favorites__card-list">
                <li><p class="favorites__name">Pasta</p></li>
                <li><p class="favorites__price">Price:10$</p></li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__card">
            <picture class="favorites__img">
              <!--Desktop-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-3@1x_lg.png 1x,
                  ./images/favorites/img-3@2x_lg.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-3@1x_lg.webp 1x,
                  ./images/favorites/img-3@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <!--Tablet-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-3@1x_md.png 1x,
                  ./images/favorites/img-3@2x_md.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-3@1x_md.webp 1x,
                  ./images/favorites/img-3@2x_md.webp 2x
                "
                type="image/webp"
              />

              <!--Mobile-->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/img-3@1x_sm.png 1x,
                  ./images/favorites/img-3@2x_sm.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/img-3@1x_sm.webp 1x,
                  ./images/favorites/img-3@2x_sm.webp 2x
                "
                type="image/webp"
              />

              <!--fallback-->
              <img src="./images/favorites/img-3@1x_lg.png" alt="pizza" />
            </picture>

            <!--overlay-->
            <div class="favorites__card--overlay">
              <ul class="favorites__card-list">
                <li><p class="favorites__name">Pizza</p></li>
                <li><p class="favorites__price">Price:10$</p></li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="favorites__item favorites__item--mobile">
        <a href="" class="favorites__link">
          <div class="favorites__card">
            <picture class="favorites__img">
              <!--Desktop-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-4@1x_lg.png 1x,
                  ./images/favorites/img-4@2x_lg.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-4@1x_lg.webp 1x,
                  ./images/favorites/img-4@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <!--Tablet-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-4@1x_md.png 1x,
                  ./images/favorites/img-4@2x_md.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-4@1x_md.webp 1x,
                  ./images/favorites/img-4@2x_md.webp 2x
                "
                type="image/webp"
              />

              <!--fallback-->
              <img src="./images/favorites/img-4@1x_md.png" alt="chicken" />
            </picture>

            <!--overlay-->
            <div class="favorites__card--overlay">
              <ul class="favorites__card-list">
                <li><p class="favorites__name">Chicken</p></li>
                <li><p class="favorites__price">Price:10$</p></li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="favorites__item favorites__item--mobile">
        <a href="" class="favorites__link">
          <div class="favorites__card">
            <picture class="favorites__img">
              <!--Desktop-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-5@1x_lg.png 1x,
                  ./images/favorites/img-5@2x_lg.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-5@1x_lg.webp 1x,
                  ./images/favorites/img-5@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <!--Tablet-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-5@1x_md.png 1x,
                  ./images/favorites/img-5@2x_md.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-5@1x_md.webp 1x,
                  ./images/favorites/img-5@2x_md.webp 2x
                "
                type="image/webp"
              />

              <!--fallback-->
              <img src="./images/favorites/img-5@1x_lg.png" alt="salat" />
            </picture>

            <!--overlay-->
            <div class="favorites__card--overlay">
              <ul class="favorites__card-list">
                <li><p class="favorites__name">Salat</p></li>
                <li><p class="favorites__price">Price:10$</p></li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="favorites__item favorites__item--mobile">
        <a href="" class="favorites__link">
          <div class="favorites__card">
            <picture class="favorites__img">
              <!--Desktop-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-6@1x_lg.png 1x,
                  ./images/favorites/img-6@2x_lg.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/img-6@1x_lg.webp 1x,
                  ./images/favorites/img-6@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <!--Tablet-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-6@1x_md.png 1x,
                  ./images/favorites/img-6@2x_md.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/img-6@1x_md.webp 1x,
                  ./images/favorites/img-6@2x_md.webp 2x
                "
                type="image/webp"
              />

              <!--fallback-->
              <img src="./images/favorites/img-6@1x_lg.png" alt="borsch" />
            </picture>

            <!--overlay-->
            <div class="favorites__card--overlay">
              <ul class="favorites__card-list">
                <li><p class="favorites__name">Borsch</p></li>
                <li><p class="favorites__price">Price:10$</p></li>
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
