<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-list__item">first</li>
      <li class="footer-list__item">second</li>
      <li class="footer-list__item">third</li>
      <li class="footer-list__item">wddcv</li>
      <li class="footer-list__item">last</li>
    </ul>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
        saepe!
      </p>
      <ul>
        <li>afsdghqshhs</li>
        <li>qshffhhq</li>
        <li>sdqfhdfhh</li>
        <li>qfdhfh</li>
        <li>qfdhdfhhfd</li>
      </ul>
    </div>
  </div>
</footer>
