<section class="section offerings" id="offerings">
  <div class="container">
    <!--offerings main container -->
    <div class="offerings__main-container">
      <!-- offerings img container -->
      <div class="offerings__img-container offerings__img-container--bottom">
        <picture class="offerings__picture-container">
          <source
            media="(min-width:1280px )"
            type="image/webp"
            srcset="
              ./images/offerings/img-1@1x_lg.webp 1x,
              ./images/offerings/img-1@2x_lg.webp 2x
            "
          />
          <source
            media="(min-width:768px )"
            type="image/webp"
            srcset="
              ./images/offerings/img-1@1x_md.webp 1x,
              ./images/offerings/img-1@2x_md.webp 2x
            "
          />
          <source
            media="(min-width:480px )"
            type="image/webp"
            srcset="
              ./images/offerings/img-1@1x_sm.webp 1x,
              ./images/offerings/img-1@2x_sm.webp 2x
            "
          />

          <source
            media="(min-width:1280px )"
            type="image/png"
            srcset="
              ./images/offerings/img-1@1x_lg.png 1x,
              ./images/offerings/img-1@2x_lg.png 2x
            "
          />
          <source
            media="(min-width:768px )"
            type="image/png"
            srcset="
              ./images/offerings/img-1@1x_md.png 1x,
              ./images/offerings/img-1@2x_md.png 2x
            "
          />
          <source
            media="(min-width:480px )"
            type="image/png"
            srcset="
              ./images/offerings/img-1@1x_sm.png 1x,
              ./images/offerings/img-1@2x_sm.png 2x
            "
          />

          <img
            src="./images/offerings/img-1@2x_sm.png"
            alt="apple"
            class="offerings__img animate__animated animate__rubberBand"
          />
        </picture>

        <picture class="offerings__picture-container">
          <source
            media="(max-width:1199px )"
            type="image/webp"
            srcset="
              ./images/offerings/img-2@1x_md.webp 1x,
              ./images/offerings/img-2@2x_md.webp 2x
            "
          />
          <source
            media="(max-width:1199px )"
            type="image/png"
            srcset="
              ./images/offerings/img-2@1x_md.png 1x,
              ./images/offerings/img-2@2x_md.png 2x
            "
          />

          <img
            src="./images/offerings/img-2@1x_md.png"
            alt="apple"
            class="offerings__img offerings__img--middle"
          />
        </picture>
        <picture
          class="offerings__picture-container animate__animated animate__rubberBand"
        >
          <source
            media="(max-width:1199px )"
            type="image/webp"
            srcset="
              ./images/offerings/img-3@1x_md.webp 1x,
              ./images/offerings/img-3@2x_md.webp 2x
            "
          />
          <source
            media="(max-width:1199px )"
            type="image/png"
            srcset="
              ./images/offerings/img-3@1x_md.png 1x,
              ./images/offerings/img-3@2x_md.png 2x
            "
          />

          <img
            src="./images/offerings/img-3@1x_md.png"
            alt="apple"
            class="offerings__img offerings__img--small"
          />
        </picture>
      </div>
      <!-- offerings main -->
      <div class="offerings__main">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__subline">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>

        <!-- offerings list -->
        <ul class="offerings__list">
          <li class="offerings__item">
            <h2
              class="offerings__headline-text-item offerings__headline-text-item--bottom"
            >
              Fasest Delivery
            </h2>
            <p class="offerings__subline-text-item">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
          <li class="offerings__item offerings__item--two">
            <h2
              class="offerings__headline-text-item offerings__headline-text-item--bottom"
            >
              Easy to order
            </h2>
            <p class="offerings__subline-text-item">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        <!-- offerings bottom part -->
        <div class="offerings__bottom-part">
          <button class="btn offerings__btn" data-modal-open-offer>
            Order Now
          </button>
          <!-- read more -->
          <input
            class="offerings__input"
            type="checkbox"
            id="offerings__input"
          />
          <label class="offerings__button" for="offerings__input"
            >Read
            <span class="offerings__button-uncheck">&nbsp;More</span>
            <span class="offerings__button-check">&nbsp;Less</span>
            <svg class="offerings__link-svg" width="14" height="14">
              <use href="./images/icons.svg#click-right"></use>
            </svg>
          </label>

          <div class="offerings__text">
            <p class="offerings__text-opacity">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
