<section class="servises">
    <h2 class="servises__title">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
</h2>
<p class="servises__descr">Lorem ipsum dolor sit amet.</p>
<ul class="servises__list">
  <li class="servises__item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis placeat
    ratione ut voluptates nisi explicabo totam impedit magnam esse quas
    repudiandae deleniti, cumque rerum maiores eligendi rem eum enim officiis.
  </li>
  <li class="servises__item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis placeat
    ratione ut voluptates nisi explicabo totam impedit magnam esse quas
    repudiandae deleniti, cumque rerum maiores eligendi rem eum enim officiis.
  </li>
  <li class="servises__item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis placeat
    ratione ut voluptates nisi explicabo totam impedit magnam esse quas
    repudiandae deleniti, cumque rerum maiores eligendi rem eum enim officiis.
  </li>
  <li class="servises__item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis placeat
    ratione ut voluptates nisi explicabo totam impedit magnam esse quas
    repudiandae deleniti, cumque rerum maiores eligendi rem eum enim officiis.
  </li>
  <li class="servises__item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis placeat
    ratione ut voluptates nisi explicabo totam impedit magnam esse quas
    repudiandae deleniti, cumque rerum maiores eligendi rem eum enim officiis.
  </li>
  <li class="servises__item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis placeat
    ratione ut voluptates nisi explicabo totam impedit magnam esse quas
    repudiandae deleniti, cumque rerum maiores eligendi rem eum enim officiis.
  </li>
</ul>
</section>
