.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: $black;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

.hero__btn {
  min-width: 98px;
  padding: 6px 18px;
  background-color: $green-btn;
  border: none;
  transition: background-color $time-cubic, box-shadow $time-cubic,
    transform $time-cubic;

  &:active,
  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: $green-btn-hover;
  }
}

.offerings__btn {
  min-width: 106px;
  padding: 8px 20px;
  color: $black-nav;
  background-color: $white-background;
  border: 2px solid $green-dark;
  transition: border-color $time-cubic, box-shadow $time-cubic,
    transform $time-cubic;
  &:active,
  &:hover,
  &:focus {
    border-color: $border-hover;
  }
}

.subscribtion-form__btn {
  min-width: 103px;
  padding: 10px 20px;
  background-color: $green-btn;
  border: none;
  transition: background-color $time-cubic, box-shadow $time-cubic,
    transform $time-cubic;

  &:active,
  &:hover,
  &:focus {
    background-color: $green-btn-hover;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.footer__btn {
  min-width: 103px;
  font-size: 13px;
  line-height: 1.5;
  padding: 10px 17px;
  background-color: $white-background;
  border: 0.854167px solid $green-dark;
  border-radius: 30px;
  transition: background-color $time-cubic, box-shadow $time-cubic,
    transform $time-cubic;

  &:active,
  &:hover,
  &:focus {
    background-color: $yellow;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) {
    align-self: flex-start;
  }
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $black;
  background-color: $white;
  box-shadow: $shadow-modal;
  transition: color $time-cubic, outline-color $time-cubic,
    box-shadow $time-cubic, transform $time-cubic;
  cursor: pointer;
  outline-color: transparent;

  &:hover,
  &:focus {
    color: $green-btn;
    outline-color: $green-dark;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.modal-form__btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  min-width: 106px;
  padding: 8px 34px;
  color: $black;
  background: #ffffff;
  border: 2px solid $green-dark;
  transition: box-shadow $time-cubic, transform $time-cubic;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

// .modal-form__input:not(:placeholder-shown):required:valid ~ .modal-form__btn,
// .modal-form__input:placeholder-shown ~ .modal-form__btn {
//   border-color: $peach-input;
// }
