.hero {
  padding-top: 132px;
  padding-bottom: 50px;
  max-width: 100%;
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 86px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 86px;
  }
}

.hero__wrp {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero__title {
  @extend %title;
  margin-bottom: 28px;
   min-width: 280px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 44px;
    max-width: 537px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 465px;
    margin-bottom: 28px;
  }
}

.hero__descr {
  @extend %paragraph;
  min-width: 270px;
  width: 100%;
  margin-bottom: 28px;
  

  @media screen and (min-width: $tablet) {
    max-width: 350px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 503px;
  }
}

.food__photo {
  user-select: none;
}
