.offerings {
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 60px;
  background-image: url(../images/offerings/bg-xs-1.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media screen and (min-width: 480px) {
    max-width: 100%;
    padding: 0 0 100px 0;
    background-image: url(../images/offerings/bg-sm-1.svg);
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $tablet) {
    max-width: 100%;
    margin-top: 450px;
    padding: 0 0 100px 0;
    background-image: url(../images/offerings/bg-md-1.svg);
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1920px;
    margin-top: 500px;
    padding: 171px 0 75px 0;
    background-image: url(../images/offerings/bg-lg-1.svg);
    background-repeat: no-repeat;
  }
}

.offerings__main-container {
  @media screen and (min-width: $tablet) {
    padding-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
  }
}


.offerings__img-container {
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    display: flex;
    align-items: baseline;
  }
}

.offerings__img-container--bottom {
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    position: relative;
    bottom: 100px;
    margin-bottom: 0;
  }
}

.offerings__img {
  margin: 0 auto;

  &--middle {
    margin-left: 29px;
    margin-right: 44px;
    margin-bottom: 67px;
  }

  &--small {
    margin-bottom: 83px;
  }

  &--middle,
  &--small {
    @media screen and (min-width: $desktop) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    @media screen and (max-width: 767px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  // ANIMATED APPLE IMG
  &:hover,&:focus{
    animation: rubberBand;
      animation-duration: 1500ms;
  }
}

.offerings__main {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media screen and (min-width: $tablet) {
    gap: 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: 573px;
    gap: 0;
    margin-left: 90px;
    justify-content: flex-start;
  }
}

.offerings__title {
  font-size: 28px;
  line-height: 1.2;

  @media screen and (min-width: $tablet) {
    max-width: 526px;
    margin-bottom: 20px;
    font-size: 42px;
  }
}

.offerings__subline {
  @extend %paragraph;
  max-width: 526px;
}

// offerings list
.offerings__list {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    flex-direction: row;
    gap: 116px;
  }

  @media screen and (min-width: $desktop) {
    gap: 67px;
  }
}

.offerings__item::before {
  margin-bottom: 10px;
  display: block;
  content: '';
  background-image: url('../images/icons/rocket.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
}

.offerings__item--two::before {
  display: block;
  content: '';
  background-image: url('../images/icons/touch.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
}
.offerings__item--two::before,
.offerings__item::before {
  transition: box-shadow $time-cubic, transform $time-cubic;
}
.offerings__item:hover.offerings__item::before,
.offerings__item:focus.offerings__item::before,
.offerings__item--two:hover.offerings__item--two::before,
.offerings__item--two:focus.offerings__item--two::before {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.offerings__headline-text-item {
  font-size: 18px;
  line-height: calc(21 / 18);
}

.offerings__headline-text-item--bottom {
  margin-bottom: 16px;
}

.offerings__subline-text-item {
  font-size: 14px;
  line-height: calc(16 / 14);
}
.offerings__btn{
&:hover,
&:focus{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}}
// offerings bottom part
.offerings__bottom-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 32px;
  }
}

// offerings read more*********************
.offerings__input {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  &:checked ~ .offerings__text .offerings__text-opacity {
    display: block;
  
  }
  &:checked ~ .offerings__button .offerings__button-uncheck {
    display: none;
  }
  &:checked ~ .offerings__button .offerings__button-check {
    display: flex;
  
  }
  &:checked ~ .offerings__button {
    color: transparent;
  }
}
.offerings__text{
  display: block;
  @media screen and (min-width: $desktop) {
      display: none;
    }
}
.offerings__text-opacity {
  display: none;
 
}

.offerings__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: $black;
  user-select: none;
  cursor: pointer;
  transition: color $time-cubic;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.offerings__button-check {
  display: none;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: $black;
}
.offerings__button-uncheck {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: $black;
}
.offerings__link-svg {
  padding-top: 3px;
  width: 14px;
  height: 14px;
  fill: currentColor;
}
